body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;


    #header {
        text-align: center;
        width: 100%;
        height: 100vh;
        background-image: url(./photos/EnglishBacground.jpg);
        background-size: cover;
        background-position: center;
    }

    #header h1 h2 {
        color: #fff;
    }

    .about {
        padding-top: 6%;
    }


    .nice-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: rgb(38, 156, 156);
        ;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .nice-button:hover {
        background-color: #0056b3;
    }

}